# AWS 키 파일 무시
*.pem
*.ppk

# 테라폼 상태 파일 무시 (중요한 정보가 들어있을 수 있음)
.terraform/
*.tfstate.backup
.terraform.lock.hcl
secret.tfvars
terraform/tfplan
terraform/terraform.tfstate*
*.tfstate*

# Python 관련
__pycache__/
*.pyc
venv/

# IDE 및 OS 관련
.vscode/
.DS_Store

# 환경 변수 무시
.env

# 빌드 산출물 및 캐시 제외
.gradle/
build/
bin/
__pycache__/
*.pyc
.idea/

# IDE 설정 파일
.idea/

# 빌드 아티팩트 및 실행 파일
*.jar

