# ---------------------------------------------
# AWS キーファイル（公開禁止）
# ---------------------------------------------
*.pem
*.ppk

# ---------------------------------------------
# Terraform 関連ファイル（状態ファイルや機密情報を含むため除外）
# ---------------------------------------------
.terraform/
*.tfstate.backup
.terraform.lock.hcl
secret.tfvars
terraform/tfplan
terraform/terraform.tfstate*
*.tfstate*

# ---------------------------------------------
# Python 関連（キャッシュおよび仮想環境）
# ---------------------------------------------
__pycache__/
*.pyc
venv/

# ---------------------------------------------
# IDE および OS 設定ファイル
# ---------------------------------------------
.vscode/
.DS_Store
.idea/

# ---------------------------------------------
# 環境変数ファイル（機密情報保護のため）
# ---------------------------------------------
.env

# ---------------------------------------------
# ビルド生成物およびキャッシュ
# ---------------------------------------------
.gradle/
build/
bin/
*.jar